*{

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(to right, grey, green);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    text-align: right;

}

.span-two {
    grid-column: span 2;
  }

.display {
    width: 100%;
    height: 20vh;
    background: black;
    color: white;
}
.input {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
  
}
button {
    border: none;
    background-color: antiquewhite;
    padding: 1.6rem;
    font-size: 22px;
    cursor: pointer;

    
}
 button:hover {
    background-color: rgb(216, 216, 216);
}

.output {
    font-size: 28px;
    padding: 25px;
}
.result {
    font-size: 18px;
    padding: 25px;
}

@keyframes big {
    0%{
        font-size: 18px;
    }
    100%{
        font-size: 30px;
    }   
}
@keyframes small {
    0%{
        font-size: 28px;
    }
    100%{
        font-size: 18px;
    }   
}